:root {
    --color-about: #150634; /* Light Blue/Celeste */
    --color-t2: #1b8a40; /* Asumiendo que esta es la variable para el color de texto */
}

.about__container{
    background-color: var(--color-about);
    padding-top: 2rem;
    padding-bottom: 5rem;
    padding-left: 6rem;
    padding-right: 6rem;
    color: rgb(255, 255, 255);
}

.about__title{
    color: var(--color-t2);
    font-weight: bold;
    font-size: 3rem;
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.about__paragraph{
    font-size: 1.5rem;
    text-align: justify;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Responsive mobiles */
@media screen and (max-width: 767px) {
    .about__container{
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 3rem;
        padding-top: 3rem;
    }
    .about__title{
        padding-top: 0;
        font-size: 2rem;
    }

    .about__paragraph{
        font-size: 1.25rem;
        text-align: left;
        padding-bottom: 0.5rem;
    }

}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1193px) {
    .about__container{
        padding-left: 4rem;
        padding-right: 4rem;
        padding-bottom: 4rem;
        padding-top: 4rem;
    }

    .about__paragraph{
        font-size: 1.25rem;
    }
}
